.token-icon {
  @include circle;

  object-fit: contain;
}


.icon-with-badge {
  position: relative;

}

.badge {
  position: absolute;
  top:0;
  right: 0;
  width: 35%;
  height: 35%;
  margin-left: auto;
  z-index: 1;
}

